body {
    padding: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.gameBoard {
    border: 5px solid darkslategray;
    max-width: 800px;
    height: 500px;
    margin: 0px auto;
}
.gameBoard div {
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.text {
    background-color: blueviolet;
    position: absolute;
    left: 835px;
    top: 147px;
}
.firstAnswer{
    background-color: lightsalmon;
    position: absolute;
    left: 589px;
    top: 248px;
}
.secondAnswer {
    background-color: dodgerblue;
    position: absolute;
    top: 248px;
    right: 589px;
}